<%- include('./partials/header') %>
  <main>
    <%- include('./partials/main-carousel') %> 

    <div class="container">
      <%- include('./partials/servicos') %>
      <%- include('./partials/quem-somos') %>
      <%- include('./partials/contato') %> 
    </div>
  </main>
<%- include('./partials/footer') %>
